# База данных
*.db
*.sqlite3

# Загруженные пользователями файлы
/app/static/uploads/

# Виртуальное окружение
venv/
.venv/

# Кэш Python
__pycache__/
*.pyc

# Файлы IDE
.idea/
.vscode/

# Секреты
.env