# Базы данных
*.db
*.sqlite3

# Виртуальное окружение
venv/
.venv/
__pycache__/

# Загруженные пользователями файлы
/app/static/uploads/

# Файлы IDE
.idea/
.vscode/

# Файлы окружения
.env